* {
    box-sizing: border-box;
}

body {
    margin: 0%;
    font-family: 'Lato', sans-serif;
}

.main-header {
    background-color: #CEAB93;
    padding: 8px 16px;
}

.main-header_item {
    text-decoration: none;
    font-size: 21px;
    color: #fff;
    font-weight: bold;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(41% - 101px);
}


.main-nav__items {
    list-style: none;
    margin: 0%;
    padding: 0%;
}

.main-nav__item {
    display: inline-block;
    padding: 5px;
    margin: 0px 10px;
}

.main-nav__link {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.main-nav__link--login {
    border: 2px solid white;
    padding: 8px;
    border-radius: 10px;
    background-color: #2E4C6D;
}

.main-nav__link--login:hover,
.main-nav__link--login:hover::before {
    color: black;
    background-color: #2E4C6D;
}

.showcase {
    height: 500px;
    background: url('music-store.jpg');
    background-position: 100%;
    padding: 10px;
    color: #fff;

}

.how-it-works {
    display: inline-block;
    width: 100%;
    padding: 10px;
    text-align: center;
}

.how-it-works h2 {
    color: #3e4555;
    font-size: 30px;
    font-weight: 600;
}

.row {
    margin-bottom: 40px;

}

.col-3 {

    display: inline-block;
    width: 30%;
    padding: 16px;
    margin: 8px;
    vertical-align: top;
}

.col-3 h2 {
    color: #3e4555;
    font-size: 30px;
    font-weight: 600;
}

.col-3 i {
    color: #CEAB93;

}

.col-2 {

    width: calc(50% - 2px);
    display: inline-block;
    height: 350px;
    vertical-align: top;
}

.features_left {
    background: url('5.jpg');
    background-size: cover;
vertical-align: text-top;        }

.features_right {
    background-color: #edf5f7;
    padding: 30px;
}

.features_right a {
    background-color: #FC997C;
    color: #fff;
    padding: 7px 15px;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    border: 1px solid #FC997C;
    border-radius: 3px;
    display: inline-block;
    margin-top: 15px;
}

.features_right a:hover {
    border: 1px solid #FC997C;
    color: #FC997C;
    background-color: #fff;
}

.features_right h1 {
    font-size: 40px;
}

.input-1 {
    padding-left: 32%;
    display: inline-block;
    padding-right: 11%;
    vertical-align: text-bottom;
}

input {
    padding-left: 50px;
    
    border: 1px solid white;
    border-radius: 6px;
    display: block;
    padding-right: 28%;
    margin-top: 10px;
}     
input[type="search" i] {
    padding: 2px 3px;
    width: 178%;
}

h2 a {
    text-decoration: none;           
}